.wrapper {
    width: 30%;
    margin: 0 auto 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.label {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
}

.input {
    width: 100%;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 8px;
    outline: #FF6B0A;
  }

.input:focus {
    border-color: #FF6B0A;
}