.profile {
    width: 570px;
    margin: 50px auto 0;
    background-color: #f5f4f4;
    border: 2px solid #49494af5;
    border-radius: 8px;
    transition: 250ms ease-in-out;
  }

.profile:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 14px #00000059;
  }

  .data {
    padding: 24px;
    text-align: center;
  }

  .avatar {
    width: 220px;
    margin: 0 auto 24px;
    border-radius: 50%;
    background-color: #000;
  }

  .username {
    margin: 0 0 8px;
    font-weight: 700;
    color: #000;
  }
  
  .tag {
    margin: 0;
    color: #00000059;
  }

  .list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #dad9d9;
  }

  .item {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
    border-top: 2px solid #ada9a9;
    color: #000;
  }

  .item:nth-child(2n) {
    border-left: 2px solid #ada9a9;
    border-right: 2px solid #ada9a9;
  }
