.item {
    width: calc(99%/2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 16px 24px;
}

.span {
    padding-right: 8px;
}

.text {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 24px;
}

.btn {
    border-radius: 8px;
    border: none;
    padding: 12px 18px;
    font-size: 24px;
    background-color: #FF6B0A;
    box-shadow: 10px 10px 14px #00000059;
    color: #ffffff;
    cursor: pointer;
    transition: 250ms ease-in-out;
}

.btn:hover {
    background-color: #dc0606;
    transform: scale(0.95);
    box-shadow: none;
}