.search {
    top: 135px;
    left: 0;
    position: sticky;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 64px;
    margin: 20px 0;
    padding: 15px 24px;
    color: #fff;
    background-color: #FF6B0A;
    border: 2px solid #49494af5;
    border-radius: 8px;

}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    border: 2px solid #49494af5;
    border-radius: 8px;
}

.input {
    display: inline-block;
    width: 100%;
    font: inherit;
    font-size: 20px;
    border: none;
    outline: none;
    padding-left: 8px;
    padding-right: 8px;
}

.input::placeholder {
    font: inherit;
    font-size: 18px;
}

.span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

.button {
    display: inline-block;
    width: 64px;
    height: 48px;
    border: 0;
    background-image: url('../../assets/search_icon.png');
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    outline: none;
}

.button:hover {
    opacity: 1;
}