
.header {
    width: 100%;
    padding: 0px 50px;
    position: sticky;
    top: 1rem;
    z-index: 10;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #49494af5;
    border-radius: 8px;
}

.taskList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 20px;
}

.item {
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 30px;
    font-weight: 700;
    transition: 250ms ease-in-out;
    span {
            padding: 0 10px;
            color: #FF6B0A;
            transition: 250ms ease-in-out;
        }
}

.item:hover {
    color: #FF6B0A;
    text-shadow: 10px 10px 10px #ff6c0a7e;
    
    span {
        color: #000;
        text-shadow: 10px 10px 10px #00000059;
        }
}
.link{
    display: flex;
    align-content: center;
}

.goit {
  width: 150px;
  padding: 18px 0;
  transition: 250ms ease-in-out;
}

.goit:hover {
    filter: drop-shadow(0 0 2em #00000059);
    transform: scale(1.05);
}

.icon {
    position: relative;
}

.react{
    width: 70px;
}

.earth {
    position: absolute;
    left: 23px;
    top: 19px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 50%;

}

pre {
  margin: 0;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


@media (prefers-reduced-motion: no-preference) {
    .react {
        animation: logo-spin infinite 10s linear;
    }
}

