.wrapper {
    margin-bottom: 48px;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #FF6B0A;
    color: white;
    box-shadow: 10px 10px 14px #00000059;
    transition: 250ms ease-in-out;
}

.btn:hover {
    background-color: #FF6B0A;
    transform: scale(0.95);
    box-shadow: none;
}

.btn:not(:last-child) {
    margin-right: 24px;
}